<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gm.mpm.data.mapper.FormDomMapper">
  <resultMap id="BaseResultMap" type="com.gm.mpm.data.model.FormDom">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="form_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="action" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="method" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="enctype" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="desc" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.gm.mpm.data.model.FormDomWithBLOBs">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="form_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="action" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="method" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="enctype" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="desc" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="dom" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
      <arg column="css" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
      <arg column="js" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, form_id, action, method, enctype, desc
  </sql>
  <sql id="Blob_Column_List">
    dom, css, js
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from form_dom
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from form_dom
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.gm.mpm.data.model.FormDomWithBLOBs">
    insert into form_dom (id, form_id, action, 
      method, enctype, desc, 
      dom, css, js
      )
    values (#{id,jdbcType=BIGINT}, #{formId,jdbcType=BIGINT}, #{action,jdbcType=VARCHAR}, 
      #{method,jdbcType=VARCHAR}, #{enctype,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR}, 
      #{dom,jdbcType=LONGVARCHAR}, #{css,jdbcType=LONGVARCHAR}, #{js,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gm.mpm.data.model.FormDomWithBLOBs">
    insert into form_dom
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="formId != null">
        form_id,
      </if>
      <if test="action != null">
        action,
      </if>
      <if test="method != null">
        method,
      </if>
      <if test="enctype != null">
        enctype,
      </if>
      <if test="desc != null">
        desc,
      </if>
      <if test="dom != null">
        dom,
      </if>
      <if test="css != null">
        css,
      </if>
      <if test="js != null">
        js,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="formId != null">
        #{formId,jdbcType=BIGINT},
      </if>
      <if test="action != null">
        #{action,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="enctype != null">
        #{enctype,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="dom != null">
        #{dom,jdbcType=LONGVARCHAR},
      </if>
      <if test="css != null">
        #{css,jdbcType=LONGVARCHAR},
      </if>
      <if test="js != null">
        #{js,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gm.mpm.data.model.FormDomWithBLOBs">
    update form_dom
    <set>
      <if test="formId != null">
        form_id = #{formId,jdbcType=BIGINT},
      </if>
      <if test="action != null">
        action = #{action,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        method = #{method,jdbcType=VARCHAR},
      </if>
      <if test="enctype != null">
        enctype = #{enctype,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        desc = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="dom != null">
        dom = #{dom,jdbcType=LONGVARCHAR},
      </if>
      <if test="css != null">
        css = #{css,jdbcType=LONGVARCHAR},
      </if>
      <if test="js != null">
        js = #{js,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.gm.mpm.data.model.FormDomWithBLOBs">
    update form_dom
    set form_id = #{formId,jdbcType=BIGINT},
      action = #{action,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      enctype = #{enctype,jdbcType=VARCHAR},
      desc = #{desc,jdbcType=VARCHAR},
      dom = #{dom,jdbcType=LONGVARCHAR},
      css = #{css,jdbcType=LONGVARCHAR},
      js = #{js,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gm.mpm.data.model.FormDom">
    update form_dom
    set form_id = #{formId,jdbcType=BIGINT},
      action = #{action,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      enctype = #{enctype,jdbcType=VARCHAR},
      desc = #{desc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>