<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gm.mpm.data.mapper.LogMapper">
  <resultMap id="BaseResultMap" type="com.gm.mpm.data.model.Log">
    <constructor>
      <idArg column="id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="operator" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="item" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="state" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="result" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="foreign_key" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.gm.mpm.data.model.Log">
    <constructor>
      <idArg column="id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="operator" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="item" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="state" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="result" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="foreign_key" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="detail" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, operator, item, state, time, result, foreign_key
  </sql>
  <sql id="Blob_Column_List">
    detail
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from log
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from log
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gm.mpm.data.model.Log">
    insert into log (id, operator, item, 
      state, time, result, 
      foreign_key, detail)
    values (#{id,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, #{item,jdbcType=VARCHAR}, 
      #{state,jdbcType=BIT}, #{time,jdbcType=TIMESTAMP}, #{result,jdbcType=VARCHAR}, 
      #{foreignKey,jdbcType=VARCHAR}, #{detail,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gm.mpm.data.model.Log">
    insert into log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="item != null">
        item,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="result != null">
        result,
      </if>
      <if test="foreignKey != null">
        foreign_key,
      </if>
      <if test="detail != null">
        detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="item != null">
        #{item,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=BIT},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="result != null">
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="foreignKey != null">
        #{foreignKey,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gm.mpm.data.model.Log">
    update log
    <set>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="item != null">
        item = #{item,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=BIT},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="result != null">
        result = #{result,jdbcType=VARCHAR},
      </if>
      <if test="foreignKey != null">
        foreign_key = #{foreignKey,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.gm.mpm.data.model.Log">
    update log
    set operator = #{operator,jdbcType=VARCHAR},
      item = #{item,jdbcType=VARCHAR},
      state = #{state,jdbcType=BIT},
      time = #{time,jdbcType=TIMESTAMP},
      result = #{result,jdbcType=VARCHAR},
      foreign_key = #{foreignKey,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gm.mpm.data.model.Log">
    update log
    set operator = #{operator,jdbcType=VARCHAR},
      item = #{item,jdbcType=VARCHAR},
      state = #{state,jdbcType=BIT},
      time = #{time,jdbcType=TIMESTAMP},
      result = #{result,jdbcType=VARCHAR},
      foreign_key = #{foreignKey,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>